<!-- example-2-{{kebabCase heading}}/index.html -->
<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{heading}}</title>
    <meta name="description" content="{{description}}">
    <link href="./style.css" rel="stylesheet">
</head>
<body>
    <code>{{kebabCase heading}}</code>
    <h1>{{heading}}</h1>
    <p>{{description}}</p>
    <pre>Loading...</pre>
    <script src="./script.js"></script>
</body>
</html>